# CAPSTONE PROJECT

## This is a notebook for the project

In [10]:
print("Hellp Capstone Project!")

Hellp Capstone Project!

Get Data From Wikipedia using Soap method and using pandas to make Data Frame

In [26]:
import pandas as pd

import requests

from bs4 import BeautifulSoup

req = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

soup = BeautifulSoup(req.content,'lxml')

table = soup.find_all('table')[0]

df = pd.read_html(str(table))

data=pd.DataFrame(df[0])

In [27]:
data.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Use Sorting to rid of Not Assigned values

In [36]:
data=data[data.Borough != 'Not assigned']
data = data.sort_values(by=['Postcode','Borough'])

data.reset_index(inplace=True)
data.drop('index',axis=1,inplace=True)

data.head()

  Postcode      Borough   Neighbourhood
0      M1B  Scarborough           Rouge
1      M1B  Scarborough         Malvern
2      M1C  Scarborough  Highland Creek
3      M1C  Scarborough      Rouge Hill
4      M1C  Scarborough      Port Union

In [42]:
grouped = data.groupby(['Postcode', 'Borough'], as_index=False, sort=False).agg(','.join)

In [43]:
grouped.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [79]:
data_2 = pd.read_csv("http://cocl.us/Geospatial_data")

In [80]:
Latitude = data_2['Latitude']
Longitude = data_2['Longitude']

In [81]:
grouped['Latitude'] = Latitude
grouped['Longitude'] = Longitude

In [82]:
grouped.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476